body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.bg-gray {
    background-color: #edf5f8!important;
}

.text-gray {
    color: #87a6b2;
}

.hidden-box {
    display: none;
}


/* PRE LOADER */

.preloader {
    position: relative;
    z-index: 99999;
    width: 100%;
    height: 50px;
    margin: 30px auto;
    text-align: center;
}

.status {
    position: absolute;
    width: 100%;
    height: 50px;
    -webkit-background-size: cover;
    background-size: cover;
}


/*	$Loader Quadrant
	========================================================================== */

.loader {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.loader-quart {
    border-radius: 50px;
    border: 6px solid rgba(94, 201, 16, 0.8);
}

.loader-quart::after {
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1s linear infinite;
    /* Safari 4+ */
    -moz-animation: spin 1s linear infinite;
    /* Fx 5+ */
    -o-animation: spin 1s linear infinite;
    /* Opera 12+ */
    animation: spin 1s linear infinite;
    /* IE 10+, Fx 29+ */
}

.loader-bars::before,
.loader-bars::after,
.loader-bars span {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: #fff;
    -webkit-animation: grow 1.5s linear infinite;
    /* Safari 4+ */
    -moz-animation: grow 1.5s linear infinite;
    /* Fx 5+ */
    -o-animation: grow 1.5s linear infinite;
    /* Opera 12+ */
    animation: grow 1.5s linear infinite;
    /* IE 10+, Fx 29+ */
}

.loader-bars::after {
    left: 15px;
    -webkit-animation: grow 1.5s linear -0.5s infinite;
    /* Safari 4+ */
    -moz-animation: grow 1.5s linear -0.5s infinite;
    /* Fx 5+ */
    -o-animation: grow 1.5s linear -0.5s infinite;
    /* Opera 12+ */
    animation: grow 1.5s linear -0.5s infinite;
    /* IE 10+, Fx 29+ */
}

.loader-bars span {
    left: 30px;
    -webkit-animation: grow 1.5s linear -1s infinite;
    /* Safari 4+ */
    -moz-animation: grow 1.5s linear -1s infinite;
    /* Fx 5+ */
    -o-animation: grow 1.5s linear -1s infinite;
    /* Opera 12+ */
    animation: grow 1.5s linear -1s infinite;
    /* IE 10+, Fx 29+ */
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@-moz-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@-o-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

.dis5 {
    height: 5px;
    clear: both;
}

.dis10 {
    height: 10px;
    clear: both;
}

.dis15 {
    height: 15px;
    clear: both;
}

.dis20 {
    height: 20px;
    clear: both;
}

.dis25 {
    height: 25px;
    clear: both;
}

.dis30 {
    height: 30px;
    clear: both;
}

.dis35 {
    height: 35px;
    clear: both;
}

.dis40 {
    height: 40px;
    clear: both;
}

.dis45 {
    height: 45px;
    clear: both;
}

.dis50 {
    height: 50px;
    clear: both;
}

.dis55 {
    height: 55px;
    clear: both;
}

.dis60 {
    height: 60px;
    clear: both;
}

.dis65 {
    height: 65px;
    clear: both;
}

.dis70 {
    height: 70px;
    clear: both;
}

.dis75 {
    height: 75px;
    clear: both;
}

.dis80 {
    height: 80px;
    clear: both;
}

.dis85 {
    height: 85px;
    clear: both;
}

.dis90 {
    height: 90px;
    clear: both;
}

.dis95 {
    height: 95px;
    clear: both;
}

.dis100 {
    height: 100px;
    clear: both;
}

/*
a {
    color: #008b69;
}

a:fover,
a:active,
a:hover {
    color: #006f54;
}
*/
.container {
    max-width: 1050px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #222a35;
}

h2 {
    font-size: 35px;
    line-height: 60px;
}

h3 {
    font-size: 30px;
    line-height: 40px;
}

h4 {
    font-size: 26px;
    line-height: 35px;
}

h5 {
    font-size: 18px;
}

p {
    line-height: 25px;
}

.text-light {
    font-weight: 300;
}

.btn {
    white-space: normal;
}

.btn-green {
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    padding: 25px 12px;
    border-color: #56ba0d;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#64d412+0,5bc40f+100 */
    background: #64d412!important;
    /* Old browsers */
    background: -moz-linear-gradient(top, #64d412 0%, #5bc40f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #64d412 0%, #5bc40f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #64d412 0%, #5bc40f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#64d412', endColorstr='#5bc40f', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.3);
}

.btn-green:hover,
.btn-green:focus {
    border-color: #56ba0d;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#64d412+0,5bc40f+47,5bc40f+100 */
    background: #64d412;
    /* Old browsers */
    background: -moz-linear-gradient(top, #64d412 0%, #5bc40f 47%, #5bc40f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #64d412 0%, #5bc40f 47%, #5bc40f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #64d412 0%, #5bc40f 47%, #5bc40f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#64d412', endColorstr='#5bc40f', GradientType=0);
    /* IE6-9 */
}

.btn-gray {
font-size: 14px;
color: #687d84;
border-color: #a1c1cc;
background: #d2e4ea!important;
background: -moz-linear-gradient(top, #d2e4ea 0%, #c5d9e0 100%);
background: -webkit-linear-gradient(top, #d2e4ea 0%,#c5d9e0 100%);
background: linear-gradient(to bottom, #d2e4ea 0%,#c5d9e0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2e4ea', endColorstr='#c5d9e0',GradientType=0 );

}

.btn-gray:active,
.btn-gray:hover,
.btn-gray:focus {
    color: #fff;
    border-color: #999;
    background: #a1c1cc!important;
    background: -moz-linear-gradient(top, #d2e4ea 0%, #c5d9e0 100%);
    background: -webkit-linear-gradient(top, #d2e4ea 0%,#c5d9e0 100%);
    background: linear-gradient(to bottom, #d2e4ea 0%,#c5d9e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2e4ea', endColorstr='#c5d9e0',GradientType=0 );
}

.form-control:disabled, 
.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.circle li {
    display: block;
    position: relative;
    font-size: 18px;
    padding-left: 45px;
    margin-bottom: 20px;
}
.circle li:last-child {
    margin-bottom: 0;
}
.circle .num {
    position: absolute;
    top: 7px;
    left: 0;
    color: #fff;
    font-size: 14px;
    line-height:30px;
    background: #88e46c;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
background: -moz-linear-gradient(top, #88e46c 0%, #22ae6b 100%);
background: -webkit-linear-gradient(top, #88e46c 0%,#22ae6b 100%);
background: linear-gradient(to bottom, #88e46c 0%,#22ae6b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88e46c', endColorstr='#22ae6b',GradientType=0 );
}

.check li {
    display: block;
    position: relative;
    font-size: 18px;
    padding-left: 35px;
    margin-bottom: 20px;
}

.check li:last-child {
    margin-bottom: 0;
}

.check li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f00c";
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 100%;
    font-size: 12px;
    color: #fff;
    font-family:Font Awesome\ 5 Free;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    line-height: 23px;
    vertical-align: middle;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#62cf12+-1,5ac20e+100 */
    background: #62cf12;
    /* Old browsers */
    background: -moz-linear-gradient(top, #62cf12 -1%, #5ac20e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #62cf12 -1%, #5ac20e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #62cf12 -1%, #5ac20e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#62cf12', endColorstr='#5ac20e', GradientType=0);
    /* IE6-9 */
}

#header {
    padding: 15px 0;
    background-color: #fff;
}

#header .btn-green {
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 20px;
}

#video-section {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3db4c9+0,3d8ac9+100 */
    background: #3db4c9;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3db4c9 0%, #3d8ac9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3db4c9 0%, #3d8ac9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3db4c9 0%, #3d8ac9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3db4c9', endColorstr='#3d8ac9', GradientType=0);
    /* IE6-9 */
    color: #fff;
}

#video-section h2 {
    color: #fff;
}

.video-wrap {
    max-width: 640px;
    margin: 0 auto;
    -webkit-box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.2);
}

.date-header {
padding: 20px 0;
min-width: 200px;
background: #f7582e;
background: -moz-linear-gradient(top, #f7582e 0%, #e81e3b 100%);
background: -webkit-linear-gradient(top, #f7582e 0%,#e81e3b 100%);
background: linear-gradient(to bottom, #f7582e 0%,#e81e3b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7582e', endColorstr='#e81e3b',GradientType=0 );
}
.date-header > h6 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.date-info {
    background-color: #fff;
    border:1px solid #cae3ec;
    border-bottom:3px solid #cae3ec;
    border-top:0;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    height: 170px;
}
.date-wrap .day {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.date-num {
    font-size: 80px;
    font-weight: 900;
    line-height: normal;
}
.date-num > span {
    position: relative;
    font-size: 30px;
    font-weight: normal;
    top: -35px;
}
.arrow-right {
    position: relative;
    top: -20px;
    padding: 0 20px 0 30px;
}

.launch-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 15px 0;    
background: #3db4c9;
background: -moz-linear-gradient(top, #3db4c9 0%, #3d8ac9 100%);
background: -webkit-linear-gradient(top, #3db4c9 0%,#3d8ac9 100%);
background: linear-gradient(to bottom, #3db4c9 0%,#3d8ac9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3db4c9', endColorstr='#3d8ac9',GradientType=0 );
}
.launch-info {
    padding: 15px;
    background-color: #edf5f8;
    border:1px solid #cae3ec;
    border-bottom:3px solid #cae3ec;
    border-top:0; 
}

.funnel-blue {
background: #3db4c9;
background: -moz-linear-gradient(top, #3db4c9 0%, #3d8ac9 100%);
background: -webkit-linear-gradient(top, #3db4c9 0%,#3d8ac9 100%);
background: linear-gradient(to bottom, #3db4c9 0%,#3d8ac9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3db4c9', endColorstr='#3d8ac9',GradientType=0 );
}
.funnel-red {
background: #fa7467;
background: -moz-linear-gradient(top, #fa7467 0%, #ea3a80 100%);
background: -webkit-linear-gradient(top, #fa7467 0%,#ea3a80 100%);
background: linear-gradient(to bottom, #fa7467 0%,#ea3a80 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa7467', endColorstr='#ea3a80',GradientType=0 );
}
.funnel-green {
background: #5cf29f;
background: -moz-linear-gradient(top, #5cf29f 0%, #58b7c6 100%);
background: -webkit-linear-gradient(top, #5cf29f 0%,#58b7c6 100%);
background: linear-gradient(to bottom, #5cf29f 0%,#58b7c6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cf29f', endColorstr='#58b7c6',GradientType=0 );
}

.funnel-wrap {
    width: 200px; 
    text-align: center; 
}
.funnel-title {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px 0; 
}
.funnel-info {
    padding: 15px 0;
    background-color: #fff;
    border:1px solid #cae3ec;
    border-bottom:3px solid #cae3ec;
    border-top:0;   
    height: 180px;
}
.funnel-price {
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
}
.funnel-price-info {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.header-box {
    position: relative;
background: #3db4c9;
background: -moz-linear-gradient(top, #3db4c9 0%, #3d8ac9 98%);
background: -webkit-linear-gradient(top, #3db4c9 0%,#3d8ac9 98%);
background: linear-gradient(to bottom, #3db4c9 0%,#3d8ac9 98%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3db4c9', endColorstr='#3d8ac9',GradientType=0 );
}

.header-box:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 15px solid #3d8ac9;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#afflink:hover,
#afflink:focus {
    background-color: #FFF8E1;
}
footer {
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #323a45;
}

footer h5 {
    font-size: 14px;
    color: #616d7c;
}

footer p.small {
    font-size: 12px;
    color: #616d7c;
}

.bottom-nav li {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}

.bottom-nav li a {
    display: block;
    font-size: 12px;
    color: #c3cad5;
}

.bottom-nav li:hover a {
    color: #fff;
}

#guarantee .label-text h2 {
    color: #fff;
    line-height: 90px;
    text-align: center;
}

#scrollToTop {
    display: none;
    z-index: 299;
    position: fixed;
    width: 33px;
    height: 33px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 60px;
    cursor: pointer;
}

#scrollToTop:hover {
    background-color: #56ba0d;
}

body:not(.device-touch) #scrollToTop {
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.stretched #scrollToTop {
    top: 30px;
}

@media(min-width:1200px) {
    .bar-line {
        position: absolute;
        left: -100px;
        width: 50%;
        height: 52px;
        background-color: #38424f;
        bottom: 0;
        z-index: 1;
    }
    #famous-people li + li {
        margin-left: 30px;
    }
    #guarantee .label-text {
        text-align: center;
        color: #fff;
        background: transparent url('../img/label-back-quarantee.png')no-repeat center 0;
        height: 90px;
    }
}

@media(min-width:992px) {
    #header .nav-top {
        position: relative;
        top: 5px;
        float: right;
    }
    .product-list li {
        display: inline-block;
    }
    .box-callAction::before,
    .box-callAction::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 76px;
        height: 63px;
        margin: auto 0;
    }
    .box-callAction::before {
        left: -30px;
        background: transparent url("../img/arrow-left.png")no-repeat 0 0;
    }
    .box-callAction::after {
        right: -30px;
        background: transparent url("../img/arrow-right.png")no-repeat 0 0;
    }
}

@media(min-width:768px) {
    .launch-info {
        padding: 15px 30px;
        height: 175px;
    }

    .bar-checks li {
        display: block;
        width: 33.33%;
        float: left;
    }
    .person-list li + li {
        margin-left: 40px;
    }
}

@media(max-width:1199px) {
    #famous-people ul {
        text-align: center;
    }
    #famous-people li {
        width: 100%;
        max-width: 500px;
        float: none;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    #famous-people li:last-child {
        margin-bottom: 0;
    }
}

@media(max-width:767px) {
    #header .logo {
        display: block;
        text-align: center;
    }
    #header .nav-top {
        text-align: center;
    }
    .team {
        display: block;
        max-width: 510px;
        margin: 0 auto;
    }
    .product-list li:first-child {
        margin-bottom: 60px;
    }
    .product-list .arrow {
        display: none;
    }
    .bar-checks .check {
        text-align: center;
    }
    .bar-checks li {
        display: inline-block;
    }
    .person-list li {
        float: none;
        margin-bottom: 30px;
    }
    .person-list li:last-child {
        margin-bottom: 0;
    }
    #success .box-wrap {
        max-width: 300px;
        margin: 0 auto;
    }
}

@media(max-width:480px) {
    .box-callAction {
        padding: 20px;
    }
    .team {
        height: 250px;
    }
    bottom-nav li {
        padding: 0 4px;
    }
}