<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <!-- SITE TITLE -->
    <title>Landing Page</title>
    
    <!-- =========================
         STYLESHEETS   
    ============================== -->
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>     
    <!-- BOOTSTRAP -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- FONT ICONS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">    
    <!-- ANIMATE -->
    <link href="css/animate.min.css" rel="stylesheet">    
    <!-- CUSTOM STYLESHEETS -->
    <link href="css/main.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>  
        <div class="container text-center" style="background-color: #009688;">
             <form style="max-width: 450px; margin:0 auto; padding:30px 0;" action="https://andreweracleous.us7.list-manage.com/subscribe/post?u=ab42dbf8da57146a53dbf8db3&amp;id=34e19913bd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <h3 style="color:#fff;">Download High Quality Responsive Web Template.</h3>
              <div class="form-group">
                <input type="text" id="mce-FNAME" class="form-control text-center" value="" name="FNAME" placeholder="First Name">
              </div>
              <div class="form-group">
                <input type="email" id="mce-EMAIL" class="form-control text-center required email" value="" name="EMAIL" placeholder="Email Address">
              </div>  
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab42dbf8da57146a53dbf8db3_34e19913bd" tabindex="-1" value=""></div>
                
                <input type="submit" value="Download Now!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-green">
            </form>
        </div>
        <hr>
   	  <!-- SCROLL TO TOP -->
	  <a id="back-top" href="javascript:void(0)">
		  <i class="fa fa-arrow-up"></i>
	  </a>
	  <!-- /END SCROLL TO TOP -->
      
	<!-- =========================
		 HEADER 
	============================== -->
    <header class="container">
            <!-- TITLE AND SUBTITLE -->
                <h1>The Perfect <b>Lorem Ipsum</b> Lorem ipsum amet</h1>
                <h2>Two days Lorem ipsum can change your life Friday, Dec 26th 2016</h2>   
            <!-- /END Title AND SUBTITLE -->
        <div class="row">
            <!-- IMAGE AND VIDEO PROMOTION -->
            <aside class="col-md-8">
                <!-- IMAGE -->
                <a href="#" data-toggle="modal" data-target="#modalVideo">
                    <img class="img-responsive" src="img/promo.jpg" alt=" ">
                </a>
                <!-- /END IMAGE -->
                <!-- VIDEO POPUP  -->
                <div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <!-- HEADING -->
                        <h4 class="modal-title" id="myModalLabel">Lorem Ipsum Seminar</h4>
                        <!-- /END HEADING -->
                      </div>
                      <!-- VIDEO -->
                      <div class="modal-body">
                         <!-- EMBED CODE -->
                         <!-- 16:9 aspect ratio -->
						  <div class="embed-responsive embed-responsive-16by9">
                          	<iframe class="video" src="http://player.vimeo.com/video/7449107?color=b40352"></iframe>
                          </div>
                      	 <!-- /END EMBED CODE -->
                      </div>
                      <!-- /END VIDEO -->
                    </div>
                  </div>
                </div>
                <!-- /END VIDEO POPUP -->
            </aside>
            <!-- /END IMAGE AND VIDEO PROMOTION -->
			
			<!-- =====================
			 	 MAILCHIMP FORM STARTS 
			 ===================== -->
            <!-- REGISTRATION FROM -->
            <section id="registration-form" class="col-md-4">
                <div class="registration-form">
                    <h3>REGISTER NOW!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod dolor sit. Amet, consectetur adipiscing elit, sed. Magna aliquyam erat sed diam voluptua</p>
                    <form id="subscription-form" class="mailchimp" role="form">
						<!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
						<div class="form-group">
						<input type="text" class="form-control" placeholder="Your name">
						</div>
						<div class="form-group">
						<input type="email" id="subscriber-email" class="form-control" placeholder="Email">
						</div>
						<button type="submit" id="subscribe-button" class="btn btn-green btn-block">Register</button>
                    </form>
                    <small>We will not forward your email address to any third party.</small>
                </div>
            </section>
            <!-- /END REGISTRATION FROM -->
        </div>    
        <!-- REGISTRATION FORM ALERT -->
		<div id="displayRegFormAlert"></div>      
   		<!-- REGISTRATION FORM ALERT -->                    
    </header>   
    <!-- /END HEADER -->
    
    <div class="container">
        <!-- COUNTDOWN -->
        <div id="display-countdown" aria-startdate="2016/12/26"></div>
        <!-- /END COUNTDOWN -->
        
		<!-- =========================
			 BRIEF RIGHT SECTION  
		============================== -->
        <section class="row wow fadeIn" data-wow-duration="3s">
            <!-- DETAILS WITH SCREENSHOT -->
            <article class="col-sm-8 col-md-7">
                <!-- HEADING -->
                <header>
                    <h3>Lorem ipsum dolor sit amet</h3>
                </header>
                <!-- /END HEADING -->
                <!-- LIST -->
                <ul class="checks">
                    <li>Lorem ipsum dolor sit condetetur sadipscin</li>
                    <li>Magna aliquyam erat sed diam voluptua</li>
                    <li>Sed diam nonumy eirmod tempor invidunt ut</li>
                    <li>Consetetur sadipscing elitr sed diam</li>
                    <li>Volupta diam sed aliquyam magna dolore</li>
                </ul>
                <!-- /END LIST -->
                <a href="#">Learn more about conference</a>
                <div class="space visible-xs"></div>
            </article>
            <!-- SCREENSHOT -->
            <figure  class="col-sm-4 col-md-5">
                <img src="http://placehold.it/768x500" class="img-responsive center-block" alt=" ">
            </figure>
            <!-- /END SCREENSHOT -->
            <!-- /END DETAILS WITH SCREENSHOT -->
        </section>
        <!-- SEPARATE LINE -->
        <hr>
        <!-- /END SEPARATE LINE -->

		<!-- =========================
			 BRIEF RIGHT AND LEFT SECTION 
		============================== -->
        <section class="row wow fadeIn" data-wow-duration="3s">
            <!-- SCREENSHOT -->
            <figure class="col-sm-4 col-md-5">
                <img src="http://placehold.it/768x500" class="img-responsive center-block" alt=" ">
            </figure>
            <div class="space visible-xs"></div>
            <!-- /END SCREENSHOT -->
            <!-- DETAILS WITH SCREENSHOT -->
            <article class="col-sm-8 col-md-7">
                <!-- HEADING -->
                <header>
                    <h3>Lorem sit amet</h3>
                </header>
                <!-- /END HEADING -->
                <p>Phasellus consequat facilisis volutpat ma faucibus odio vitae semper. Ae volutpat lobortis.</p>

                <p>Mauris vehicula tortor id augue rutrum consequat ac at massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus bibendum urna pellentesque urna ultrices porttitor. Sed ac leo id odio fringilla venenatis.
                Morbi vel turpis luctus diam ultrices adipiscing. Vestibulum feugiat suscipit tortor, sed hendrerit ipsum ultricies eu.</p>
            </article>
            <!-- /END DETAILS WITH SCREENSHOT -->
            <!-- SEPARATE LINE -->
            <hr>
            <!-- /END SEPARATE LINE -->

        
		<!-- =========================
			 BENEFITS 
		============================== -->
        <!-- DETAILS WITH ICONS -->
        <div id="benefits">
            <div class="row">
                <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-duration="1.5s">
                    <!-- ICON -->
                    <div class="icon-circle">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <!-- END ICON -->
                    <!-- HEADING -->
                    <h4 class="text-center"> Better Coding</h4>
                    <!-- /END HEADING -->
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elitfficia deserunt mollit anim id.</p>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-duration="1.5s">
                    <!-- ICON -->
                    <div class="icon-circle">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <!-- /END ICON -->
                    <!-- HEADING -->
                    <h4 class="text-center">Secret to Succeess</h4>
                    <!-- /END HEADING -->
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elitfficia deserunt mollit anim id.</p>             
                </div>
                <div class="clearfix block-sm-visible hidden-md hidden-lg"></div>
                <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="1.5s">
                    <!-- ICON -->
                    <div class="icon-circle">
                        <i class="fa fa-users"></i>
                    </div>
                    <!-- /END ICON -->
                    <!-- HEADING -->
                    <h4 class="text-center">Make Ideas Happen</h4>
                    <!-- /END HEADING -->
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elitfficia deserunt mollit anim id.</p>             
                </div>
            </div>
        </div>
        <!-- /END DETAILS WITH ICONS -->
           <!-- SEPARATE LINE -->
        <hr>
        <!-- /END SEPARATE LINE -->                          
            <!-- DETAILS WITH LIST -->
            <article class="col-sm-12">
                <!-- HEADING -->
                <header>
                    <h3>Lorem ipsum dolor amet</h3>
                </header>
                <!-- /END HEADING -->
                <p>Mauris vehicula tortor id augue rutrum consequat ac at massa. Interdum et malesuada fames ac ante ipsum primis                       in faucibus. Vivamus bibendum urna pellentesque urna ultrices porttitor. Sed ac leo id odio fringilla                                 venenatis.Mauris vehicula tortor id augue rutrum consequat ac at massa. Interdum et malesuada fames ac ante                           ipsum primis in faucibus. Vivamus bibendum urna pellentesque urna ultrices porttitor. Sed ac leo id odio                             fringilla venenatis.</p>
                <!-- LIST -->
                <div class="col-sm-6">
                    <ul class="checks">
                        <li>Lorem dolor condetetur Magna erat voluptua</li>
                        <li>Magna erat voluptua</li>
                        <li>Sed invidunt Magna erat voluptua ut</li>

                        <li>Lorem dolor condetetur</li>
                        <li>Magna erat Magna erat voluptua voluptua</li>
                        <li>Sed Magna erat voluptua invidunt ut</li>
                    </ul>                        
                </div>
                <!-- /END LIST -->
                <!-- SCREENSHOT -->
                <figure class="col-sm-6">
                    <img src="http://placehold.it/768x500" class="img-responsive center-block" alt=" ">
                    <div class="space"></div>
                </figure>
                <!-- /END SCREENSHOT -->
                <div class="clearfix"></div>
                <p>Mauris vehicula tortor id augue rutrum consequat ac at massa. Interdum et malesuada fames ac ante ipsum primis                        in faucibus. Vivamus bibendum urna pellentesque urna ultrices porttitor. Sed ac leo id odio fringilla                                venenatis.</p>
                <a href="#">Learn more about it</a>
            </article>
            <!-- /END DETAILS WITH LIST -->
        </section>
      
        <!-- SEPARATE LINE -->
        <hr>
        <!-- /END SEPARATE LINE -->
        
		<!-- =========================
			 SPEAKERS 
		============================== -->        
        <!-- DETAILS WITH PORTRAITS IMAGE -->
        <div id="team" class="clearfix text-center">
            <!-- HEADING -->
            <h3 class="text-center">Our Team</h3>
            <!-- /END HEADING -->
            <!-- TEXT WITH IMAGE -->
            <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="1.5s">
				<img class="center-block img-circle img-thumbnail" alt=" " src="http://placehold.it/150x150">
                <h4>Jennifer Smith</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus</p>
            </div>
            <!-- /END TEXT WITH IMAGE -->
            <!-- TEXT WITH IMAGE -->
            <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="1.5s">
				<img class="center-block img-circle img-thumbnail" alt=" " src="http://placehold.it/150x150">
                <h4>Mike Johnson</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus</p>
            </div>
            <!-- /END TEXT WITH IMAGE -->
            <!-- TEXT WITH IMAGE -->
            <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="1.5s">
				<img class="center-block img-circle img-thumbnail" alt=" " src="http://placehold.it/150x150">                
                <h4>Jenny KIM</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus</p>
            </div>
            <!-- /END TEXT WITH IMAGE -->
            <!-- TEXT WITH IMAGE -->
            <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="1.5s">
				<img class="center-block img-circle img-thumbnail" alt=" " src="http://placehold.it/150x150">
                <h4>John Doe</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus</p>
            </div>   
            <!-- /END TEXT WITH IMAGE -->
        </div>
        <!-- /END DETAILS WITH PORTRAITS IMAGE -->
        <!-- SEPARATE LINE -->
        <hr>
        <!-- /END SEPARATE LINE -->
        
        <div class="promo-msg wow fadeIn" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeIn;">
			<div class="row">
				<div class="col-sm-7">
					 <h3>Don’t Miss This Great<br>Opportunity!</h3>
           
				</div>
				<div class="col-sm-5">
					 <a id="backTopRegForm" href="javascript:void(0)" class="btn btn-green">Register Now</a>
				</div>
			</div>
        </div>
         <!-- SEPARATE LINE -->
        <hr>
        <!-- /END SEPARATE LINE -->       
		<!-- =========================
			 SPONSORS AND PAERTNERS 
		============================== -->         
        <!-- HEADING -->
        <h3 class="text-center">Sponsors &amp; Partners</h3>
        <!-- /END HEADING -->
        <!-- SCREENSHOTS -->
        <div class="row wow fadeIn" data-wow-duration="3s">
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" alt=" " src="http://placehold.it/250x150">
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" alt=" " src="http://placehold.it/250x150">
            </div>                
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" alt=" " src="http://placehold.it/250x150">
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" alt=" " src="http://placehold.it/250x150">
            </div>                                                      
        </div>
        <!-- /END SCREENSHOTS -->
         
        <!-- SEPARATE LINE -->
        <hr>
        <!-- /END SEPARATE LINE --> 
        
        <div class="row">
        	<div class="col-sm-6">
        		 <!-- =========================
			 CONTACT FORM
		============================== -->           
        <!-- HEADING -->    
        <h3>Contact Form</h3>
        <!-- /END HEADING -->
        
        <!-- FORM -->  
		<div id="displayContactFormAlert"></div>  
        <form id="contact" class="form-horizontal contact-form">
            <div class="form-group">
                <label for="cf-name" class="col-sm-4 control-label">Your Name</label>
                <div class="col-sm-8">
                    <input type="text" id="cf-name" class="form-control" name="cf-name" placeholder="Your Name">
                </div>
            </div>
            <div class="form-group">
                <label for="cf-email" class="col-sm-4 control-label">Your Email</label>
                <div class="col-sm-8">
                    <input type="email" id="cf-email" class="form-control" name="cf-email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="cf-subject" class="col-sm-4 control-label">Subject</label>
                <div class="col-sm-8">
                    <input type="text" id="cf-subject" class="form-control" name="cf-subject" placeholder="Subject">
                </div>
            </div>            
            <div class="form-group">
                <label for="cf-message" class="col-sm-4 control-label">Your Message</label>
                <div class="col-sm-8">
                    <textarea id="cf-message" class="form-control" rows="5" name="cf-message" placeholder="Your Message"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" id="cf-submit" name="submit" class="btn btn-green">Send Message</button>
                </div>
            </div>
        </form>
        <!-- /END FORM -->
        		
        	</div>
        	<div class="col-sm-6 wow fadeIn" data-wow-duration="3s">
        <!-- =========================
			 GOOGLE MAP
		============================== -->
        <!-- DETAILS WITH MAP -->
            <!-- HEADING -->
            <h3 class="text-uppercase">Location</h3>
            <!-- /END HEADING -->
            <!-- GOOGLE MAP -->
            <div id="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d52478.76642178753!2d32.985623828518925!3d34.7071245099718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x14e73316ac02f49d%3A0xdaa97f957025b012!2sLimassol%2C+Cyprus!3m2!1d34.7071301!2d33.0226174!4m5!1s0x14e73316ac02f49d%3A0xdaa97f957025b012!2sLimassol%2C+Cyprus!3m2!1d34.7071301!2d33.0226174!5e0!3m2!1sen!2s!4v1432545936096" height="260" style="border:0"></iframe>
 			</div>          
            <!-- /END GOOGLE MAP -->
            <!-- LOCATION -->
            <h4 class="text-uppercase">Eratosthenous, Limassol, Cyprus</h4>
            <!-- /END LOCATION -->
        <!-- /END DETAILS WITH MAP -->        		
        	</div>
        </div>                
         
        
        <!-- =========================
			 FOOTER 
		============================== -->
        <footer class="row">
        	<!-- COPYRIGHT TEXT -->
			<div class="col-xs-12">
            	<small>Copyright © 2015 Andreas Eracleous, All Rights Reserved</small>
			</div>
            <!-- /END COPYRIGHT TEXT -->
        </footer>
        <!-- /END FOOTER -->   
    </div>
    
    <!-- =========================
         SCRIPTS   
    ============================== --> 
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- COUNTDOWN -->
    <script src="js/jquery.countdown.min.js"></script>
    <!-- WOW -->
    <script src="js/wow.min.js"></script>      
    <!-- SMOOTHSCROLL -->
    <script src="js/smoothscroll.js"></script>    
    <!-- AJAXCHIMP -->
    <script src="js/jquery.ajaxchimp.min.js"></script>        
    <!-- MAIN -->
    <script src="js/main.js"></script>
    
  </body>
</html>