<div class="clearfix"></div>
<div class="companies-list text-center mt-5">
	<div class="row">
			<div class="col"><p class="text-secondary">TRUSTED BY:</p></div>
	
	<div class="w-100"></div>
	<div class="col">
		<img src="{{ site.baseurl }}/assets/img/sap-logo.svg" height="50" alt="">
	</div>
	<div class="col">
	<img src="{{ site.baseurl }}/assets/img/clickbank-university-logo.png" height="50" alt="">
	</div>
	<div class="col">
	<img src="{{ site.baseurl }}/assets/img/maida-logo.svg" height="50" alt="">
	</div>
	</div>
</div>