<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google-site-verification" content="xa0E3FvD7H7xRhk5pdtp0gG4dcnAAoL1D4F-VzPPAcE" />
<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.tagline }}{% endif %}</title>
{% seo title=false %}

{%if page.tags %}
<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
{%endif %}

{% comment %}
{% if site.tags == "" %}
{% include collecttags.html %}
{% endif %}
{% endcomment %}

{% if page.robots %}<meta name="robots" content="{{page.robots}}" />{% endif %}
<link rel="shortcut icon" href="/icon.png">
<link rel="apple-touch-icon-precomposed" href="/icon.png">
<meta name="apple-mobile-web-app-title" content="Andreas Eracleous">
<meta name="theme-color" content="#1976D2">
<link rel="manifest" href="/manifest.json">

<link rel="preconnect dns-prefetch" href="https://report-uri.cloudflare.com">
<link rel="preconnect dns-prefetch" href="https://www.google-analytics.com">    
<!--critical-->
<!--email.js-->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/lazysizes.min.js" async></script>
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />  
<script>
window.FontAwesomeConfig = {
searchPseudoElements: true,
autoAddCss: false 
}
</script>
</head>