<div class="header-jumbotron">
  <div class="container">
  <header class="header clearfix">
      {% include nav.html %}
      <a class="navbar-brand text-white text-decoration-none" href="/">
        <span class="site-name font-weight-light">Andreas Eracleous</span><br>
        <small class="tagline font-weight-light">FRONT END WEB DEVELOPER</small>
      </a>
    </header>
    <div class="jumbotron clearfix">
      <h1 class="jumbotron-heading text-center font-weight-bold text-uppercase text-white">{{ page.jumbotron-title }}</h1>
      <p class="h2 font-weight-light text-blue text-center">Do you need to speed up your website?</p>
      <img data-src="{{ site.baseurl }}/assets/img/responsive-web-design.png" alt="responsive website" class="lazyload img-fluid d-block mx-auto mt-5">
      <p class="lead text-blue font-weight-light mt-3 mb-2 text-center"><strong class="h4">Hi, I’m Andreas.</strong> I'm a freelance Front end web developer in Cyprus, who specialises in converting <em>PSD</em> or <em>Sketch</em> design to Bootstrap website responsive templates. Highly experienced in <strong>Bootstrap framework</strong> and <strong>web performance optimization</strong>. Lately, I focused primarily on <strong>JavaScript development</strong> where I have worked on some exciting projects using <strong>VueJS</strong> and <strong>NodeJS</strong>.</p>
    </div>
  </div>
  <div class="header-bar">
    <a class="text-white text-center mb-0 font-weight-light d-block" href="https://www.upwork.com/fl/andreaseracleous">I am a Top Rated <i class="fas fa-star size-15 mt-n1"></i><i class="fas fa-star size-15 mt-n1"></i><i class="fas fa-star size-15 mt-n1"></i><i class="fas fa-star size-15 mt-n1"></i><i class="fas fa-star size-15 mt-n1"></i> freelancer on UpWork</a>
  </div>  
</div>