<div class="header-jumbotron">
  <div class="container">
  <header class="header clearfix">
      {% include nav.html %}
      <a class="navbar-brand text-white text-decoration-none" href="/">
        <span class="site-name font-weight-light">Andreas Eracleous</span><br>
        <small class="tagline font-weight-light">FRONT END WEB DEVELOPER</small>
      </a>
    </header>

    <div class="jumbotron clearfix text-center">
      <h1 class="jumbotron-heading text-center font-weight-bold text-white">{{ page.jumbotron-title }}</h1>
      {% include nav-breadcrumbs.html %}     
      <h2 class="text-white">{{page.title}}</h2>
      {% if page.page-class == "page-blog" %}
      <!--
      <hr>
      <h5 class="text-center mb-3 text-white">Every week we'll send you blogging advice, tips and in-depth tutorials </h5>
      <form class="d-flex justify-content-center mt-4">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-auto">
            <input type="email" class="form-control" placeholder="Email">
          </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary">Subscribe</button>
              </div>
        </div>
      </form>
    -->
       {% endif %}
    </div>
 </div>
  </div>
