<nav class="header-nav">
  <a href="#trigger:nav" class="site-nav__open"><i class="far fa-bars size-20 mt-n1"></i> Menu</a>  
  <a class="site-nav__target" id="trigger:nav"></a>
  <ul class="nav float-right site-nav__list flex-column flex-md-row">  
    <li class="site-nav__item  site-nav__item--close">
      <a href="#0" class="site-nav__link site-nav__close">Close <i class="far fa-times size-20 mt-n1"></i></a>
    </li>              
    {% for item in site.data.menu/pages %}
      <li class="nav-item text-center {% if item.url == page.url %}active{% endif %}">
        <a class="nav-link text-white" href="{{item.url}}" title="{{item.title}}">{{ item.name }}</a>
      </li>
    {% endfor %}        
  </ul>
</nav>