<section class="services float-left w-100 mt-5">
  <h2 class="text-center font-weight-bold text-uppercase">Freelance<br>Front-end Web Developer Services</h2>
  <hr class="w-25">
  <!--
  <p class="text-center"><img alt="" class="img-fluid" src="" data-src="{{ site.baseurl }}/assets/img/html-js-css-bootstrap.png"></p>

  <p class="mt-5 text-center">I have experience working with conversion PSD file to responsive HTML code, optimize website load speed and manage cross browser compatibility issues. I focuses on creating responsive website and app projects using <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, and <strong>Bootstrap framework</strong>. I have spent most of my career working in HTML5, CSS3, JavaScript, Java, Android and Bootstrap framework. Lately, I have focused primarily on JavaScript development and has worked on some exciting projects using the AngularJS &amp; VueJS framework.</p>
  -->
  
<div class="card-deck text-center">
      <div class="card border-0">
        <div class="card-body">
          <!--
          <img alt="" class="img-fluid" src="" data-src="{{ site.baseurl }}/assets/img/psd-responsive.png">
        -->
        <i class="fas fa-desktop fa-5x text-muted"></i>
          <h3 class="h4 text-capitalize mt-3 mb-3">PSD to HTML conversion</h3>
          <p class="card-text">A proper website converted to a responsive web layout to run successfully in mosts popular browsers and devices helping you have more business and visitors.</p>
            <p class="card-text">A beautiful website will gain visitor’s trust with your company making them spend more money with you.</p>
          </div>
          <div class="card-footer bg-white border-0">
            <a class="btn btn btn-primary" href="#">Click Here To Learn More</a>
          </div> 
        </div>

        <div class="card border-0">
          <div class="card-body">
            <!--
            <img alt="" class="img-fluid" src="" data-src="{{ site.baseurl }}/assets/img/2.png">
          -->
          <i class="fal fa-rocket fa-5x text-muted"></i>
                                 <h3 class="h4 text-capitalize mt-3 mb-3">Make web faster</h3> 
            <p class="card-text">It’s a fact that <strong>Google now counts site speed as a SEO ranking factor</strong>. The better loading time the higher it will rank on Google and the more traffic you will earn. If your website doesn’t load in less than <strong>3 secs</strong> you will lose more or <strong>less 40%</strong> of the potential business.</p>
            <p class="card-text">Don’t make your customer wait and go to your competitor!</p>
          </div>
                   <div class="card-footer bg-white border-0">
            <a class="btn btn btn-primary" href="#">Click Here To Learn More</a>
          </div>  
        </div>


        <div class="card border-0">
          <div class="card-body">
            <!--
            <img alt="" class="img-fluid" src="" data-src="{{ site.baseurl }}/assets/img/wordpress-cogs.png">
          -->
          <i class="fab fa-wordpress-simple fa-5x text-muted"></i>
                                  <h3 class="h4 text-capitalize mt-3 mb-3">Setup WordPress</h3>
            <p class="card-text">WordPress is one of the most popular and reliable platform in the online world, where you easily manage your website without having any web programming skills.</p>
            <p class="card-text">Have WordPress installed into your hosting account, <strong>fast</strong> without worrying about any technical skills and issues.</p>
          </div>
                   <div class="card-footer bg-white border-0">
            <a class="btn btn btn-primary" href="#">Click Here To Learn More</a>
          </div>  
        </div>

    </div>
  </section>