<section class="float-left w-100 mt-5">
	<h3 class="text-center text-uppercase">Why Choose Me?</h3>
	<p>I have 10 years of front-end web development experience that I can definitely help you with your website. All these years of work experience I have worked over thousand projects converting PSD to responsive HTML code. I help individuals, small businesses and even famous marketing people to build a great effective website.</p>
	<p>My mission is to perform your project successfully like it was my own project. I will work hard and make sure to get everything done for you, on time. Sometimes I even work extra time when it is needed to perfect a job from a client without charging more money.</p>
	<p>I have a strong desire to make sure you are happy and I won’t disappoint you. But even if that happens I will find a way to make you happy.</p>
	<p class="text-center w-50 mx-auto"><strong>I help several clients and companies collaborate remotely to build responsive websites and applications.</strong></p>
</section>