body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    margin: 0;
    padding: 0;
}
.title-bar {
    line-height: 1.6;
}

p {
	color: #707070;
}
.container {
	max-width: 1100px;
}

.text-darkblue {
    color: #51648b;
}

.btn {
    font-weight: 300;
    white-space: normal;
    text-transform: uppercase;
}

.btn-green {
    color: #fff;
    border: none;
    background: #88e46c;
    background: -moz-linear-gradient(top, #88e46c 0%, #22ae6b 99%);
    background: -webkit-linear-gradient(top, #88e46c 0%,#22ae6b 99%);
    background: linear-gradient(to bottom, #88e46c 0%,#22ae6b 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88e46c', endColorstr='#22ae6b',GradientType=0 );
    
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.3);
}

.btn-md {
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-lg {
    padding: 1.3rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}



.btn-green:hover,
.btn-green:focus,
.btn:not(:disabled):not(.disabled).active, 
.btn:not(:disabled):not(.disabled):active {
    color: #fff;
    border: none;
    background: #22ae6b;
    background: -moz-linear-gradient(top, #48c26b 1%, #22ae6b 100%);
    background: -webkit-linear-gradient(top, #48c26b 1%,#22ae6b 100%);
    background: linear-gradient(to bottom, #48c26b 1%,#22ae6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c26b', endColorstr='#22ae6b',GradientType=0 );

}
.bg-dark {
	background-color: transparent!important;
}
.header {
    padding: 5px 0;
background: #5aa8c5;
background: -moz-linear-gradient(top, #5aa8c5 1%, #579fc5 99%);
background: -webkit-linear-gradient(top, #5aa8c5 1%,#579fc5 99%);
background: linear-gradient(to bottom, #5aa8c5 1%,#579fc5 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aa8c5', endColorstr='#579fc5',GradientType=0 );
}
.video-wrap {
	max-width: 640px;
	margin: 0 auto;
}
.text-darkblue {
	color: #52648a;
}
.text-blue {
	color: #a8bced;
}
.bg-gray {
	background-color: #eef1f7;
}
/* COUNTDOWN */
.display-countdown {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color:#000;
    text-align: center;
    text-transform: uppercase;
    margin:0;
    padding:15px;
    background-color: #eef1f7;
    z-index: 9;
}
.display-countdown span {
    font-size: 20px;
    color: #fff;
    padding:0 5px;
    background-color: #ff2a00;
}
.display-countdown > .hr,
.display-countdown > .min,
.display-countdown > .sec {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: transparent;
}
.display-countdown > .hr,
.display-countdown > .min {
    margin-right: 15px;
}
.step-box {
    position: relative;
    padding: 10px 15px 10px 45px;
    font-size: 14px;
    color: #52607e;
    background-color: #eef1f7;
}
.step-box.active {
    color: #7e8ca6;
    background-color: #d6dce7;
}
.step-box:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;  
    content: "";
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin:auto 0;
    border:3px solid #99a9ca;
    display: block;
    text-align: center;
}
.step-box.active:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;  
    content: "\f00c";
    font-family: Font Awesome\ 5 Free;
    font-size: 11px;
    font-style: normal;
    font-weight: 900;
    border-radius: 100%;
    color: #fff;
    width: 20px;
    height: 20px;
    margin:auto 0;
    border:none;
    background-color: #7e8ba5;
    display: block;
    text-align: center;
    line-height: 21px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.circle .num {
    position: absolute;
    top: 7px;
    left: 0;
    color: #fff;
    font-size: 14px;
    line-height:30px;
    background: #88e46c;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    background: -moz-linear-gradient(top, #88e46c 0%, #22ae6b 100%);
    background: -webkit-linear-gradient(top, #88e46c 0%,#22ae6b 100%);
    background: linear-gradient(to bottom, #88e46c 0%,#22ae6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88e46c', endColorstr='#22ae6b',GradientType=0 );
}

.check li {
    display: block;
    position: relative;
    font-size: 16px;
    color: #707070;
    padding-left: 35px;
    margin-bottom: 20px;
}

.check li:last-child {
    margin-bottom: 0;
}

.check li:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 100%;
    font-size: 12px;
    color: #fff;
    content: "\f00c";
    font-family:Font Awesome\ 5 Free;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    line-height: 23px;
    vertical-align: middle;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #88e46c;
    background: -moz-linear-gradient(top, #88e46c 0%, #22ae6b 99%);
    background: -webkit-linear-gradient(top, #88e46c 0%,#22ae6b 99%);
    background: linear-gradient(to bottom, #88e46c 0%,#22ae6b 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88e46c', endColorstr='#22ae6b',GradientType=0 );
}

.box-shadow {
	display: block;
	max-width: 324px;
	margin: 0 auto;
	box-shadow: 0 1px 8px rgba(0,0,0,.13);
}

.box-callAction {
    position: relative;
    padding: 40px 70px;
}

.box-callAction .checkbox {
    font-size: 16px;
}

.box-callAction .checkbox span {
    position: relative;
    top: -1px;
    line-height: 25px;
}

.box-callAction .btn {}

.box-callAction .icons {
    text-align: center;
    padding: 0;
    margin: 0;
}

.box-callAction .icons li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #748599;
    padding: 0 20px;
}

.box-callAction .icons li img {
    margin-right: 10px;
    vertical-align: middle;
}

#scrollToTop {
    display: none;
    z-index: 299;
    position: fixed;
    width: 33px;
    height: 33px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
}

#scrollToTop:hover {
    background-color: rgba(0, 0, 0, 0.6);
}


body:not(.device-touch) #scrollToTop {
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

footer {
    font-size: 14px;
    color: #fff;
    text-align: center;
background: #5aa8c5;
background: -moz-linear-gradient(top, #5aa8c5 1%, #579fc5 99%);
background: -webkit-linear-gradient(top, #5aa8c5 1%,#579fc5 99%);
background: linear-gradient(to bottom, #5aa8c5 1%,#579fc5 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aa8c5', endColorstr='#579fc5',GradientType=0 );
}

footer h5 {
    font-size: 14px;
    color: #fff;
}

footer .small {
    font-size: 13px;
}

.bottom-nav li {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
}

.bottom-nav li a {
    display: block;
    font-size: 12px;
    color: #fff;
}

.bottom-nav li:hover a {
    color: #fff;
}

@media(min-width:992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1rem;
	    padding-left: 1rem;
	}	
    .box-callAction::before,
    .box-callAction::after {
        content: "";
        position: absolute;
        bottom: 108px;
        width: 76px;
        height: 63px;
        margin: 0;
    }
    .box-callAction::before {
        left: -30px;
        background: transparent url("../img/arrow-left.png")no-repeat 0 0;
    }
    .box-callAction::after {
        right: -30px;
        background: transparent url("../img/arrow-right.png")no-repeat 0 0;
    }
}

@media(max-width:480px) {
    .box-callAction {
        padding: 20px;
    }

    .bottom-nav li {
        padding: 0 4px;
    }

}