@font-face {
    font-family: 'Urbane';
    src: url('../fonts/Urbane-Thin.woff2') format('woff2'),
        url('../fonts/Urbane-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Urbane';
    src: url('../fonts/Urbane-Light.woff2') format('woff2'),
        url('../fonts/Urbane-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Urbane';
    src: url('../fonts/Urbane-DemiBold.woff2') format('woff2'),
        url('../fonts/Urbane-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Urbane';
    src: url('../fonts/Urbane-Medium.woff2') format('woff2'),
        url('../fonts/Urbane-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Urbane';
    src: url('../fonts/Urbane-Heavy.woff2') format('woff2'),
        url('../fonts/Urbane-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Urbane';
    src: url('../fonts/Urbane-Bold.woff2') format('woff2'),
        url('../fonts/Urbane-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body {
	font-family: 'Urbane', sans-serif;
	font-family: "Helvetica Neue",Arial , sans-serif;
	font-size: 1rem;
	line-height: 1.75rem;
	color: #101934;
	font-weight: 300;
}

.text-blue {
	color: #244ebf!important;
}
.display-4 {
    font-size: 2.8rem;
}
.horizontal-line {
 	margin:0;
    border-top: 1px solid #244ebf;
}

.bg-gradient-blue {
background: #204ac2;
background: -moz-linear-gradient(left, #204ac2 0%, #18ddfd 100%);
background: -webkit-linear-gradient(left, #204ac2 0%,#18ddfd 100%);
background: linear-gradient(to right, #204ac2 0%,#18ddfd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#204ac2', endColorstr='#18ddfd',GradientType=1 );
}
.bg-light-green {
	background-color: #e9f7f9;
}
.btn {
    padding: .475rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 5rem;
	color: #244ebf;
}
.btn-white {
    color: #244ebf;
    background-color: #fff;
    border-color: #fff;
}
.btn-warning {
    color: #244ebf;
    background-color: #fece31;
    border-color: #fece31;
}
.btn-warning:hover {
    color: #244ebf;
    background-color: #e0a800;
    border-color: #d39e00;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 1.3rem 5.45rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 5rem;
}

.nav-header-link {
	color: #fff;
	padding: .5rem 1.5rem;
}

.nav-header-link:hover,
.nav-header-link:focus {
	color: #fff;
}

.large-title {
	letter-spacing: 0.25rem;
}
.container {
	max-width: 1108px;
}
.header {
	max-width: 1477px;
	margin: 0 auto;
}
.chromapolis-area {
	position: relative;
	margin-top: -6rem;
}

.feature-list-item {
	border-top: 1px solid #244ebf;
	padding: .85rem 0;
}
.nav-tabs {
    border-bottom: 0px;
}
.nav-tabs .nav-item {
	margin: 0;
	padding: .5rem 2.5rem;
}
.nav-tabs .nav-link {
	padding: 0 0 .3rem 0;
	border-radius: 0px;
	color: #244ebf;
}
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
    border-color:transparent;
}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
    color: #244ebf;
    background:none;
    border:none;
    border-bottom: 1px solid #244ebf;
}
.popover {
	padding: 2rem;
	color: #fff;
	background-color: #244ebf;
	border-radius: 1rem;
}
.popover .arrow {
	display: none;
}
.bs-popover-auto[x-placement^=top], 
.bs-popover-top {
    margin-bottom: 2rem;
}

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 0 0 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 560px;
  height: 1px;
  background: #244ebf;
}
/*
.timeline ol li:nth-child(1) {
	width: 160px;
}
*/
.timeline ol li:last-child { width: auto; }

.timeline ol li:not(:last-child)::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 40px;
	background-color:#244ebf;	
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    left: -5px;
    bottom: -50px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #244ebf;
    /* background: #244ebf; */
}

.timeline ol li div {
  position: absolute;
  left: 0;
  width: 500px;
  padding: 0;
  font-size: 1rem;
  white-space: normal;
  background: none;
}

.timeline ol li div { top: calc(100% + 80px); }

.timeline ol li div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev { margin-right: 20px; }

.timeline .disabled { opacity: .5; }

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 599px) {

.timeline ol,  .timeline ol li { width: auto; }

.timeline ol {
  padding: 0;
  transform: none !important;
}

.timeline ol li {
  display: block;
  height: auto;
  background: transparent;
}

.timeline ol li:first-child { margin-top: 25px; }

.timeline ol li div {
  width: 94%;
  height: auto !important;
  margin: 0 auto 25px;
}

.timeline ol li div { position: static; }

.timeline ol li div::before {
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: none;
  border-left: 1px solid white;
  height: 25px;
}

.timeline ol li:last-child,  .timeline ol li:nth-last-child(2) div::before,  .timeline ol li:not(:last-child)::after,  .timeline .arrows { display: none; }}

footer {
	padding: 8rem 0;
background: #1b14af;
background: -moz-linear-gradient(left, #1b14af 0%, #18ddfd 100%);
background: -webkit-linear-gradient(left, #1b14af 0%,#18ddfd 100%);
background: linear-gradient(to right, #1b14af 0%,#18ddfd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b14af', endColorstr='#18ddfd',GradientType=1 );
}
.footer-link-list, 
.footer-social-icons {
	list-style: none;
	padding:0;
	margin: 0;
}
.footer-link-list > li {
	font-weight: 300;
	margin: .35rem 0;
}
.footer-link-list > li:after {
	display: inline-block;
	content: ">";
	font-size: 0.85rem;
	color: #fff;
	margin-left: 5px;
}
.footer-social-icons > li {
	font-size: 1.45rem;
}
.footer-social-icons > li + li {
	margin-left: 1.8rem;
}

.footer-btn-white {
	position: relative;
    color: #244ebf;
    background-color: #fff;
    border:none;
    padding: 0 1.45rem;
}

.footer-btn-white:before {
	position: absolute;
	content:"";
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 40px;
	margin:auto 0;
	border-left: 1px solid #18DDFD;
}

.footer-form-control {
    height: calc(3.80rem + 3px);
    padding: .475rem 2rem;
    border-radius: 5rem;
    border:none;
}
.footer-form-control:hover,
.footer-form-control:focus {
	outline: 0;
}
