---
layout: default
---
<!--
<div class="title-bar bg-light border text-center mb-5">
	<h1 class="h2 mt-3 mb-0">{{page.title}}</h1>
	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb mt-0  pt-0 pb-0  justify-content-center bg-light rounded-0">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">About</li>
		</ol>
	</nav>
	<span>[
	  {% for tag in page.tags %}
	    {% capture tag_name %}{{ tag }}{% endcapture %}
	    Tags: <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
	  {% endfor %}
	]</span>	
</div>
-->
<div class="row">
	<div class="col-md-8 mt-5">
		{{ content }}
	</div>
	<div class="col-md-4 mt-5">
		<div class="sidebar">
			<div class="card border-0 rounded-0">
				<div class="card-body bg-lightgray">
					<div class="person-box text-center">
						<img data-src="{{ site.baseurl }}/assets/img/about/andreas.jpg" width="150" alt="Andreas Eracleous" class="lazyload person-img img-fluid rounded-circle mx-auto d-block mb-3">
						<p>Hi I'm <strong>Andreas Eracleous</strong> and I'm a <strong>Front-End Web Developer</strong>. Learn more <a href="/about">about me</a>.</p> 
						<p>Welcome to my blog. I hope you find something useful here.</p>
						<p><a href="https://twitter.com/AndrewEracleous"><i class="fab fa-twitter size-20"></i> Follow me on Twitter</a></p>
						<!--<a class="btn btn-lg btn-success text-uppercase" href="#">Ask For A Quote</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% if page.tags.size > 0 %} 
    <div class="my-5 p-3 bg-light">
    Tags:[ 	
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
    ]</div>
 {% endif %}
<h5 class="text-center mt-5">Do you need help?</h5>
<p class="text-center mt-3"><a href="https://andreaseracleous.com/contact/" class="btn btn-success btn-lg" target="_self"><span class="fusion-button-text">Contact me</span></a></p>
{% include disqus.html %}